* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */

}

.header {
    width: 100vw;
    background: black;
    height: 40px;
    position: fixed;
}

.header .menu {
    width: 30%;
    height: 40px;
    /* border: 1px solid white; */
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.header .menu .logo {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 25px;
}

.header .menu .londonn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    /* width: 150px; */
}

.header .menu .londonn .langg {
    /* border: 1px solid red; */
    height: inherit;
    width: 70px;
    /* text-align: center; */
}

.header .menu .londonn .langg p,
.header .menu .profile img {
    margin-top: 10px;
    margin-left: 20px;
}

.header .menu .londonn .langg:hover,
.header .menu .profile:hover {
   background: grey;
}

.header .menu .londonn .profile {
    /* border: 1px solid red; */
    height: inherit;
    width: 70px;
   
}

.main {
    width: 100vw;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

.main .hero-section {
    width: inherit;
    height: 80vh;
    border: 1px solid black;
    background: url(image/BRND_MTH23_PVMagnetLeft_1440x675_POST_Final_noLocale_DOT3619.jpg);
    background-position: center;
    background-size: cover;
}
.content h1 {
    margin-top: 100px;
    font-size: 40px;
    margin-left: 70px;
    color: white;

}
.content p {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    margin-left: 70px;
}
/* .content a  { */
    /* border: 1px solid black; */
    /* padding: 20px; */
    /* justify-content: space-between; */
    /* margin-left: 70px; */
    /* font-size: 20px; */
    /* color: black; */
    /* width: 20%; */
    
/* } */
.Robot {
    /* 
    text-align: center;
    justify-content: space-around;
    height: 50px;
    font-size: 20px; 
    background: black;
    color: white; */

    /* border: 1px solid blue;  */
    width: 350px;
    margin-left: 70px;
    margin-top: 2%;
    
}

.Robot a{
    border: 1px solid white;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    background: #0f79af;
    /* margin-top: 10px; */
}
 span {
    /* border: 1px solid black; */
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    color: white;  
}

.spend {
    /* border: 1px solid black; */
    font-size: 17px;
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -30px;
    margin-top: 10px;
    color: white;
}
.pocket {
    width: 99%;
    height: 80vh;
    border: 1px solid black;
    background: url(image/BRND_MTH21_PVMagnetLeft_1440x675_Final_noLocale_PVD7919.jpg);
    background-position: center;
    background-size: cover;
    
}
.pocket h1 {
    color: white;
    margin-left: 900px;
    font-size: 50px;
    margin-top: 40px;
}
.pocket p {
    /* border: 1px solid white; */
    color: white;
    font-size: 20px;
    margin-left: 900px;
    justify-content: space-around;
}
.may a {
    border: 1px solid white;
    padding: 15px;
    /* border-radius: 8px; */
    text-decoration: none;
    color: white;
    background: #0f79af;
    display: flex;
    margin-left: 900px;
    margin-top: 40px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.phone {
    background-color: rgb(255,255,255);
    margin-left: 130px;
    margin-top: 30px;
    font-size: 20px;
}
.zino {
    margin-left: 450px;
    margin-top: -420px;
}
.seyi {
    margin-left: 950px;
    margin-top: -420px;
}
.burna {
    display: flex;
    /* width: 500px; */
    height: 730px;
    margin-top: 30px;
    background-image: url(image/PV_Benefits_Dowlnoad_Magnet_UPDATED.jpg);
    
}
.davido {
    /* border: 2px solid black; */
    color: black;
}


@media (max-width: 768px) {
    .header {
        /* width: 100vw; */
        background: red;
        
    }
}